.feature-section {
    padding-top: 94px;
  
    padding-bottom: 94px;
  }

  .team-section {
    background-color: var(--light-background-color);
  
    padding-top: 94px;
  
    padding-bottom: 94px;
  }

  .project-section {
    display: flex;
  
    padding-bottom: 94px;
  
    padding-top: 94px;
  }

  .clients-section
{
  padding-top: 94px;

  padding-bottom: 94px; 
}
